@model IM.Models.Dbo.ProductCategory

@{
    ViewData["Title"] = "Details";
}

<br/>
<br/>

<div class="card text-center">
    <div class="card-header">Category Details</div>
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Description</p>
        <br/>
        <a asp-controller="ProductCategories" asp-action="Index" class="btn btn-primary">Back</a>
    </div>
    <div class="card-footer text-muted">@Model.Created.ToShortDateString()</div>
</div>
