@model IM.Models.ViewModel.AddressViewModel
@inject ICustomerService customerService
@{
    ViewData["Title"] = "New Address";
    var users = await customerService.GetApplicationUsers();
}

<br />
<br />

<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6 offset-1">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">New Address</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form asp-action="Create">
                    <div class="card-body">

                        <div class="form-group">
                            <label> &nbsp; &nbsp; User</label>
                            <select name="ApplicationUserId" class="form-select" aria-label="Default select example">
                                @foreach (var item in users)
                                {
                                    <option value="@item.Id">@item.FirstName @item.LastName</option>
                                }
                            </select>
                        </div>
                       
                        <div class="form-group">
                            <label> &nbsp; &nbsp; Street</label>
                            <input asp-for="Street" type="text" class="form-control" placeholder=" street name">
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label> &nbsp; &nbsp; City</label>
                            <input asp-for="City" type="text" class="form-control" placeholder=" city name">
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label> &nbsp; &nbsp; PostCode</label>
                            <input asp-for="PostCode" type="text" class="form-control" placeholder=" post number">
                            <span asp-validation-for="PostCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label> &nbsp; &nbsp; Country</label>
                            <input asp-for="Country" type="text" class="form-control" placeholder=" country name">
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer" align="right">
                        <button type="submit" class="btn btn-primary">Create</button><a asp-controller="Address" asp-action="Index" class="btn btn-secondary">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }*@